/* Add some global styles here! */
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');

:root {
  --red: rgb(208, 67, 12);
  --beige: #d4c8a9;
  --light-beige: #f1e6c9;
  --light-bg: rgba(255, 255, 255, 28%);
  --lighter-green: #d4d6b0;
  --green: #b0b470;
  --dark-green: #58823A;
  --darker-green: #43603B;
  --orange: #d13717;
  --orange-dark: #b02e0c;
  --base-bg: #f1f3f5;
  --light-grey: #b0a892;
  --medium-grey: #b1a892;
  --dark-grey: #264528;
  --pink: #ab5c53;
  --light-pink: #b28883;
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

button {
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  border: 1px solid #dee2e6;
  background: var(--orange);
  color: white;
  cursor: pointer;
}



.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}


body {
  background-color: var(--beige);
  color: var(--text);
}

h1 {
  font-family: 'Caprasimo';
}

* {
  font-family: 'Averia Serif Libre', serif;
}

.toast {
  position: fixed;
  top: 1em;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.5em 1em;
  border-radius: 6px;
  max-width: 60em;
  margin: 0 auto;

  color: #fff;
}

.error {
  background-color: #fa5252;
}
.success {
  background-color: #40c057;
}